.section {
  margin-top: 24px;
}

.heading {
  padding: 0 16px;

  font-family:
    "Work Sans",
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Arial,
    sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0px;

  color: #545f7d; // matches your figma
  text-transform: uppercase;
}

.list {
  margin-top: 8px;
  padding: 0 8px;

  display: flex;
  flex-direction: column;
  gap: 4px;

  list-style: none;
}
