.button {
  transition-property: all;
  transition-timing-function: var(
    --tw-ease,
    var(--default-transition-timing-function) /* cubic-bezier(0.4, 0, 0.2, 1) */
  );
  transition-duration: var(
    --tw-duration,
    var(--default-transition-duration) /* 150ms */
  );
  --tw-duration: 200ms;
  transition-duration: 200ms;
  padding-top: 10%;
  display: flex;
}
