/* LoginLayout.module.css */
.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

/* Responsive */
@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
