.tabs {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 24px;

  border-bottom: 1px solid rgba(33, 63, 125, 0.1);
}

.tab {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 14px 4px;

  font-family: "Work Sans";
  font-weight: 400;
  font-size: 16px;
  color: #545f7d;
  position: relative;
}

.tab:hover {
  color: #213f7d;
}

.active {
  color: #39cdcc;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background: #39cdcc; /* active underline */
}
