.text {
  font-family: Work Sans;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #213f7d;
}

.header {
  display: flex;
  padding: 10px;
}

.metricsRow {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 5%;

  flex-wrap: wrap; // so it wraps nicely on smaller screens
}
